<p>input-editor-form works!</p>

<form method="post">

    <div class="form-group">
        <label for="Title">Title</label>
        <input id="Title" class="form-control" type="text" />
    </div>

    <div class="form-group">
        <label for="Content">Content</label>
        <!--
            👇 Custom element to display the Monaco Editor.
               The content of the editor is submitted with the form when you submit the form.
        -->
        <!-- <monaco-editor id="Content" language="json" name="sample" value="My content"></monaco-editor> -->
    </div>

    <button class="btn btn-primary">Submit</button>
</form>